* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
  background-image: url("assets/chat-icon.png");
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  display: block;
}

#text-email-login {
  top: 10%;
  font-weight: bold;
  font-size: 15px;
  max-width: 600px;
  line-height: 1;
}

.first-text-left {
  color: #ffffff;
  position: absolute;
  width: 127px;
  height: 84px;
  left: 126px;
  top: 122px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 84px;
}

.first-text-left-2 {
  color: #ffffff;
  position: absolute;
  width: 480px;
  height: 42px;
  left: 128px;
  top: 203px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
}

.long-text {
  color: #ffffff;
  position: absolute;
  width: 750px;
  height: 84px;
  left: 10%;
  top: 85%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.blue-circle {
  position: absolute;
  width: 300px;
  height: 268px;
  left: 0px;
  top: 920px;
}

.big-chat-icon {
  background-image: url("assets/big-chat-icon.png");
  position: absolute;
  width: 332px;
  height: 332px;
  left: 350px;
  top: 356px;
}

.vector {
  position: absolute;
  width: 380.03px;
  height: 120.99px;
}

.sign-up {
  position: absolute;
  width: 200px;
  height: 40px;
  left: 70%;
  top: 122px;
  background: #f2f2f2;
  border-radius: 5px;
}

.sign-up-2 {
  position: absolute;
  width: 50px;
  height: 16.8px;
  left: 62%;
  top: 20%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #353535;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.sign-in {
  position: absolute;
  width: 105px;
  height: 40px;
  left: 70%;
  top: 122px;
  background: #29a7c2;
  box-shadow: 0px 0px 10px rgba(47, 192, 247, 0.15);
  border-radius: 5px;
}

#sign-in-2 {
  color: #ffffff;
  position: absolute;
  width: 55px;
  height: 16.8px;
  left: 25%;
  top: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

#forms {
  position: absolute;
  width: 379px;
  height: 593px;
  left: 70%;
  top: 220px;
  background: #ffffff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.08);
  border-radius: 25px;
}

.fill {
  position: absolute;
  width: 63px;
  height: 94px;
  left: 240px;
  top: 20px;
  background: url("assets/Provinsi-Lampung-removebg-preview\ 2.png");
}

.subtitle {
  position: absolute;
  width: 300px;
  height: 47px;
  left: 40px;
  top: 140px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-style: thin;
  font-weight: 750;
  font-size: 40px;
  line-height: 56px;
  color: #091d30;
}

input[type="text"],
#email {
  position: absolute;
  width: 296px;
  height: 50px;
  left: 40px;
  top: 250px;
  padding: 12px 20px;
  margin: 8px 0;

  font-size: 18px;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

input[type="password"],
#pw {
  position: absolute;
  width: 296px;
  height: 50px;
  left: 40px;
  top: 310px;
  padding: 12px 20px;
  margin: 8px 0;

  font-size: 18px;
  display: inline-block;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  position: absolute;
  margin: 8px 0;
  width: 150px;
  height: 46px;
  left: 40px;
  top: 374px;
  border: none;
  background: #29a7c2;
  box-shadow: 0px 0px 10px rgba(26, 144, 230, 0.3);
  border-radius: 4px;

  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  font-style: thin;
  font-weight: 700;
  font-size: 18px;
}

input[type="submit"]:hover {
  background-color: #0f768d;
}

.forgot-password {
  position: absolute;
  width: 123px;
  height: 19px;
  left: 210px;
  top: 394px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: medium;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #29a7c2;
  transition: translate(-50%, -50%);
}

#copyright {
  position: absolute;
  width: 379px;
  height: 38px;
  left: 70.5%;
  top: 90%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #8b8b8b;
}

.number-of-ASN {
  position: absolute;
  width: 287px;
  height: 18px;
  left: 47px;
  top: 540px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #091d30;
}

@media only screen and (max-width: 624px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  html {
    height: 1043px;
  }

  #text-service-explanation {
    display: none !important;
  }
  #forms {
    top: 37%;
    left: 21%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .text-email-login {
    display: block;
    top: 37%;
    left: 2%;
    top: 10%;
  }

  .sign-up {
    top: 30%;
    left: 10%;
  }

  .sign-in {
    top: 30%;
    left: 10%;
  }

  #copyright {
    top: 110%;
    left: 21%;
  }

  .first-text-left {
    top: 8%;
    left: 21%;
  }

  .first-text-left-2 {
    top: 17%;
    left: 21%;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  html {
    height: 1043px;
  }

  .sign-up {
    top: 30%;
    left: 27%;
  }
  .sign-in {
    top: 30%;
    left: 27%;
  }
  .first-text-left {
    top: 8%;
    left: 20%;
  }

  .first-text-left-2 {
    top: 17%;
    left: 20%;
  }
  #forms {
    top: 40%;
    left: 21%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #copyright {
    top: 110%;
    left: 22%;
  }

  #text-service-explanation {
    display: none !important;
  }
  .big-chat-icon {
    display: none !important;
  }
  .login-container .text-email-login {
    display: block;
  }
}
